body {
 	background-image:url('../images/hotel.png');
 	background-size: 150% 100%;
 	font: 100% sans-serif;
 	 	height:auto;
 	 	width:auto;
 	 	text-indent: 12%;
 	 	background-repeat: no-repeat;
 	
 }
 
body2 {
 	background-image:url('../images/hotel.png');
 	background-size: 100% 100%;
 	font: 100% sans-serif;
 }
 #contenidoBox{
 	background-color: white;
 	opacity: 0.9;
 	text-indent: 12%;
 	height: 100%;
 }
 #contenidoBox2{
 	background-color: white;
 	opacity: 0.9;
 	 	text-indent: 0%;
 	
 	height: 100%;
 }
 
 #parrafo1{
 	text-indent: 20%;
 }