@charset "UTF-8";
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
 
 body {
 	background-image:url('../images/fondo.png');
 	background-size: 100% 100%;
 	font: 150% sans-serif;
 	height:100%;
 	background-repeat: no-repeat;

 }
 
 body2 {
 	background-image:url('../images/fondo.png');
 	background-size: 100% 100%;
 	font: 100% sans-serif;
 }
  
 
 
 #contenidoBox{
 	background-color: white;
 	opacity: 0.45;
 	text-indent: 12%;
 	height: 100%;
 }
 
  #contenidoBox2{
 	background-color: white;
 	opacity: 0.45;
 	height: 100%;
 	font-size:18px;
 }
 
  #contenidoBox80{
 	background-color: white;
 	opacity: 0.45;
 	text-indent: 10%;
 	height: 488px;
 }
 
  #contenidoBox20{
 	background-color: white;
 	opacity: 0.45;
 	text-indent: 70%;
 	height: 100%;
 }
 
 #parrafo1{
 	text-indent: 10%;
 }
 
  #parrafo2{
 	text-indent:0%;
 }
 
 
 .boton{
 	font-size:20px;
 	width:200px;
 	height:30px;
 
 }